COMPOSE_PROJECT_NAME=odoo-workspace-v18

POSTGRES_VERSION=17-3.5-alpine
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=workspace
POSTGRES_DB=odoo
POSTGRES_PORT=5432

ODOO_USER=odoo
ODOO_PASS=pgsecret

ADMINER_VERSION=5.4.0-standalone
ADMINER_CONTAINER_NAME=adminer
ADMINER_PORT=8081
